:root {
    --background-color: #fffdf5;
    --dark-green: #103713;
    --dark-green-pre-hover: rgba(16, 55, 19, 0.8);
    --med-green: #628b35;
    --light-green: rgba(98, 139, 53, 0.8);
}

* {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: var(--background-color);
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

header > h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--dark-green);
}

header > p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-green);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


button.start {
  font-size: 1.75rem;
  font-weight: 500;
  background-color: var(--dark-green-pre-hover);
  color: var(--background-color);
  padding: 12px 60px;
  border-radius: 70px;
  cursor: pointer;
  margin-top: 30px;
}

button.start:hover {
  background-color: var(--dark-green);
}

.landing-tiger {
  display: flex;
  justify-content: center;
}
.landing-tiger > img {
  width: 40%;
  height: auto;
  animation: rotateBackandForth 5s linear infinite;
}

@keyframes rotateBackandForth {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg);}
}

@media (max-width: 390px) {
  header > h1 {
    font-size: 2rem;
  }

  button.start {
    font-size: 1rem;
  }
}